cryptography

html5lib>=1.0.1
lz4>=3.0.0
numpy>=1.16.0
Pillow>=10.0.1
pillow-heif>=0.12.0
psutil>=5.0.0
pyOpenSSL>=19.1.0
PyYAML>=5.0.0
Send2Trash>=1.5.0
service-identity>=18.1.0
Twisted>=20.3.0

opencv-python-headless==4.7.0.72
requests==2.31.0

setuptools==65.5.1
