# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.py]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = false
