### Compiled Python detritus
__pycache__/
*.py[cod]

### IDE's

## IntelliJ and related IDE's (RubyMine, PhpStorm, AppCode, PyCharm)
*.iml

# Directory-based project format:
.idea/


## Eclipse
*.pydevproject
.metadata
.gradle
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

### Some rules to keep out installation-specific stuff that's generated when Hydrus is run from source
logs/
crash.log

# hydev note: updating this to ignore user's db files
# I nonetheless recommend you use the -d switch to put your db somewhere else if you run and update from git source
db/*.db
db/*.db-shm
db/*.db-wal
db/*.crt
db/*.key
db/*.log
db/*.conf
db/client_files/
db/server_files/
db/missing_and_invalid_files/

# docs builds
site/
help/
