cbor2
cryptography
pympler
python-dateutil

beautifulsoup4>=4.0.0
chardet>=3.0.4
html5lib>=1.0.1
lxml>=4.5.0
lz4>=3.0.0
olefile>=0.47
Pillow>=10.0.1
pillow-heif>=0.12.0
pillow-jxl-plugin>=1.3.0
psutil>=5.0.0
pyOpenSSL>=19.1.0
PySocks>=1.7.0
PyYAML>=5.0.0
Send2Trash>=1.5.0
service-identity>=18.1.0
show-in-file-manager>=1.1.5
twisted[tls,http2]>=20.3.0

opencv-python-headless==4.11.0.86
numpy==2.3.1
mpv==1.0.8

dateparser==1.2.1
requests==2.32.5

QtPy==2.4.3
PySide6==6.9.3

setuptools==78.1.1
pyinstaller==6.14.1

mkdocs-material==9.7.1
