[Desktop Entry]
Version=1.0
Name=Hydrus Client
Comment=Booru-like media management application
Exec=hydrus-client
Icon=/usr/lib/hydrus/static/hydrus_non-transparent.png
Terminal=false
Type=Application
Categories=Application;FileTools;Graphics;Network;
