cbor2
cryptography
dateparser
pympler
python-dateutil

beautifulsoup4>=4.0.0
chardet>=3.0.4
cloudscraper>=1.2.33
html5lib>=1.0.1
lxml>=4.5.0
lz4>=3.0.0
numpy>=1.16.0
Pillow>=10.0.1
pillow-heif>=0.12.0
psd-tools>=1.9.28
psutil>=5.0.0
pyOpenSSL>=19.1.0
PySocks>=1.7.0
PyYAML>=5.0.0
Send2Trash>=1.5.0
service-identity>=18.1.0
Twisted>=20.3.0

opencv-python-headless==4.7.0.72
python-mpv==1.0.3
requests==2.31.0

QtPy==2.3.1
PyQt6==6.5.2
PyQt6-Qt6==6.5.2

setuptools==65.5.1

pyobjc-core>=10.1
pyobjc-framework-Cocoa>=10.1
pyobjc-framework-Quartz>=10.1
