name: Publish Docs 

on:
  push:
    branches:
      - master 

concurrency: 
  group: publish-docs
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: pip install mkdocs-material mkdocs-redirects mkdocs-git-revision-date-localized-plugin
      - run: mkdocs gh-deploy --force --config-file mkdocs-gh-pages.yml
